* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

#app {
    position: relative;
    min-height: 100%;
}

header {
    background-color: darkcyan;
    padding: 15px 0 15px;
}

.header {
    display: flex;
    justify-content: flex-end;
}

.container {
    max-width: 1300px;
    margin: 0 auto 0 auto;
}

.btn-cart {
    background-color: lightskyblue;
    padding: 10px;
    margin-left: 15px;
}

.search-field {
    background-color: darkcyan;
    border: none;
    border-bottom: 2px solid black;
}

.btn-search {
    background-color: darkcyan;
    border: none;
}

<<<<<<< Updated upstream
=======
.product_in_cart {
    position: absolute;
    top: 55px;
    right: 130px;
    background-color: white;
    border: 2px solid #C4C4C4;
    color: black;
}

.cart_item {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.cart_item:not(:last-child) {
    margin-bottom: 20px;
}

.cart_item p {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
}

.cart_item p:not(:last-child) {
    margin-right: 20px;
}

>>>>>>> Stashed changes
.products {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 50px;
}

.product-item {
    border: 1px solid green;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
}

.buy-btn {
    background-color: palegreen;
    padding: 5px;
    margin-top: 15px;
}

footer {
    background-color: darkcyan;
    height: 60px;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}